body{
  background-color: #c7b39b;
}
.box {
  display: flex;
  flex-direction: column;
justify-content: space-around;
height: 100vh;
	background: #A0522D;

}
.inputBlock {
  display: flex;
  align-items: center;
  background: goldenrod;
  height: 20vh;

}

.outputBlock {
  background: rgb(32, 190, 218);
  height: 60vh;

}
